#s-988ab6a5-307f-4f6a-adf0-b3bfa607183d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-988ab6a5-307f-4f6a-adf0-b3bfa607183d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}